@page
@model BurgerHut.Pages.staff.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employeecs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employeecs.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employeecs.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employeecs.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employeecs.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employeecs.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employeecs.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employeecs.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employeecs.Designation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employeecs.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
